* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-size: 5rem;
    --radius: .2rem;
    --h: 55;
    --s: 59%;
    --l: 2%;
    --accent-color: hsl(var(--h), var(--s), var(--l));
    --colorMixer: #73ff00;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: red;
    /* overflow: hidden; */
}

.tools {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: var(--accent-color);
    top: 0;
    height: var(--nav-size);
    padding: .3rem;
}

/* "pens" is the main container for the pens */
.toolItem {
    padding: .3rem;
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: hsl(var(--h), var(--s), 20%);
    margin: .3rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
}

.colorPalette,
.shapeTool,
.penTool {
    height: 100%;
    width: 100%;
}

.toolItem>div {
    z-index: 10;
    position: absolute;
    height: max-content;
    width: max-content;
    padding: .2rem;
    top: 100%;
    left: 100%;
    background-color: hsl(var(--h), var(--s), 20%);
    border-radius: var(--radius);
    display: flex;
}

.toolItem>div button,
.currentSelection {
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: none;
    border-radius: var(--radius);
    display: grid;
    place-items: center;
}

.toolItem>div button:hover {
    background-color: hsl(var(--h), var(--s), 26%);
}

.toolItem>div button>svg {
    height: 200%;
    width: 200%;
}

.toolItem>div.hidden {
    display: none;
}



.CanvasPaper {
    position: absolute;
    bottom: 0;
    background-color: hsl(var(--h), var(--s), 90%);
    width: 100vw;
    height: calc(100% - var(--nav-size));
    display: grid;
    place-items: center;
    z-index: 20;
    overflow: hidden;
}

.CanvasPaper>canvas {
    position: absolute;
    border: 1px solid lightseagreen;
    width: 100vw;
}